---
layout: default
---
<div class="home">

    {% for tag in site.tags %}
    <div class="tag-list">

      <h1 class="tag-header">
        {{ tag | first }}
      </h1>

      <ul class="post-list">
      {% for post in tag[1] %}
        
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>

      {% endfor %}
      </ul>

    </div>
    {% endfor %}

</div>